# Lambda function

* Python Lambda Functions are anonymous function means that the function is without a name.The lambda keyword is used to define an anonymous function in Python. 

* These functions are called as anonymous functions

* These are defined in a single line

* these func by default will return a value, no need to write a return statement

* syntax for labda functions

    * lambda var/s:<statement/s using these var/s>

In [1]:
(lambda x,y : x+y)(2,3)

5

In [13]:
(lambda x:[x**3])(3)

[27]

In [3]:
# find even and odd value by lambda function.

(lambda x,y: ([ele for ele in range(x,y+1) if ele%2==0],[ele for ele in range(x,y+1) if ele%2!=0]))(10,20)

([10, 12, 14, 16, 18, 20], [11, 13, 15, 17, 19])

## map functions

* The Map() function takes a function and a list as input.
* Map() performs an operation on the entire list and return the result in a new list

* we use map function to apply our function on each element of an iterator.
* op of map function is a map object, we need to type cast it to a list or other data type to see the ор

* map() function in Python is used to apply the transformation to an iterable object like a list, tuple, or set e.t.c, this applies the given transformation function to each item of an iterable (e.g., list, tuple, set). You can combine this with a lambda function.

* syntax of map function

    * map(func, iterator)

In [15]:
a = map(lambda x: x**2, [10,20,30])
a

In [16]:
list(a)

[100, 400, 900]

In [17]:
z = map(lambda x: x/0, [1,2,3])
z

In [19]:
#list(z)      #uncomment to see the error because division by zero is not possible.

In [23]:
a = map(lambda x,y: x+y ,[12,24],[33,44])
list(a)

[45, 68]

In [24]:
list(map(lambda x:x**x,[1,2,3]))

[1, 4, 27]

In [25]:
a = map(lambda x,y: x**y ,[1,2,3,4,5],[1,2,3,4,5])
list(a)

[1, 4, 27, 256, 3125]

## filter function

* The filter() function in Python takes in a function and a list as arguments. This offers an elegant way to filter out all the elements of a sequence “sequence”, for which the function returns True.
* Filter() is used to create a list of elements for which a function returns “True”.
* Syntax-
    * filter( function that returns True, list)

In [26]:
#filter the even numbers,given in a list.

a = (filter(lambda x:True if x%2==0 else False,[1,2,3,4,5]))
list(a)

[2, 4]

In [27]:
#filter a vowels in a given string.

list(filter(lambda x:True if x in 'aeiouAEIOU' else False,'Harshit'))

['a', 'i']

In [29]:
#filter a alphabet & number given in a string.

list(filter(lambda x:True if x.isalnum() else False,'harsh@#$%12@'))

['h', 'a', 'r', 's', 'h', '1', '2']

In [31]:
#filter a special char. given in a string.

list(filter(lambda x:True if x.isalnum() is False else False,'harsh@#$%12@'))

['@', '#', '$', '%', '@']

## reduce function

* The reduce() function in Python takes in a function and a list as an argument. The function is called with a lambda function and an iterable and a new reduced result is returned. 
* This performs a repetitive operation over the pairs of the iterable.
* Syntax-
    * reduce(function , list)
* This function is defined in “functools” module.

In [43]:
import functools

In [38]:
functools.reduce(lambda x,y:x+y,[10,20,30,40,50])  # reduce() add first two elements then goes to another elements.

150

In [45]:
functools.reduce(lambda x,y:x*y,[1,2,3,4,5,6])  # reduce() multiply first two elements then goes to another elements.

720